.startMenu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.startMenu > ul > li {
    padding: .5rem 0;
    cursor: pointer;
    list-style-type: disc;
}