.container {
    height: 100%;
    display: flex;
}

.player {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

@media (display-mode: fullscreen) {
    .player video {
        width: 100%;
        height: 100%;
    }
}

@media (display-mode: standalone) {
    .container {
        border-top: var(--divider);
    }
}