.btn {
    all: unset;
    z-index: 1;
    text-align: center;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgb(59 59 59 / 50%),
    7px 7px 20px 0 rgba(0, 0, 0, .1),
    4px 4px 5px 0 rgba(0, 0, 0, .1);
    outline: none;
    background: rgb(46 47 49);
    background: linear-gradient(0deg, rgb(31 31 33) 0%, rgb(46 47 49) 100%);
    border: none;
}