.container {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--trs-lightgray);
}

.container.vertical {
    width: 3px;
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-color: var(--lightgray);
}

.overlay {
    position: absolute;
    inset: 0;
    transform: translateY(-50%);
    width: 100%;
    background-color: transparent;
    height: 10px;
    z-index: 1;
}

.indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    transform: translateY(-50%);
    background-color: var(--lightgray);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.vertical .fill {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.vertical .overlay {
    transform: translateX(-50%);
    width: 10px;
    height: 100%;
}

.vertical .indicator {
    transform: translateX(-40%);
}