.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.player {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: var(--dark);
    padding: 0 1rem;
}

.controlsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.5rem;
}

.controls {
    flex: 0 1 80px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.buttonGroup {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.timelineContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.timeline {
    user-select: none;
    width: 100%;
    height: 3px;
    background-color: var(--trs-lightgray);
    position: relative;
}

.elapsedTime {
    background-color: var(--lightgray);
    height: 100%;
    width: 0;
}

.timeIndicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--lightgray);
    cursor: pointer;
}

.timeIndicator::after {
    content: attr(data-time);
}

.shadowTimeline:hover .hoveredTime,
.timeIndicator:hover::after{
    display: block;
}

.hoveredTime,
.timeIndicator::after{
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateX(-50%);
    padding: .5rem;
    font-size: .8rem;
}

.shadowTimeline {
    width: 100%;
    height: 15px;
    position: absolute;
    inset: 0;
    transform: translateY(-50%);
}

.box {
    background-color: var(--black);
    width: 40px;
    height: 160px;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8rem;
}

.fullscreen .player video {
    width: 100%;
    height: 100%;
}

.fullscreen .footer {
    position: absolute;
    bottom: 0;
    z-index: 2147483647;
    width: 100%;
}