:root {
    /* palette */
    --dark: #1d1e24;
    --black: #000;
    --gray: #2c323d;
    --lightgray: #cbcbcb;
    --trs-lightgray: #CBCBCB32;

    /* colors */
    --text: var(--lightgray);
    --border: var(--gray);
    --bg: var(--dark);
}

html,
body,
body > div {
    height: 100%;
}

html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

button {
    all: unset;
    cursor: pointer;
}