:root {
    /* palette */
    --black: #021521;
    --dark: #06283D;
    --blue: #1363DF;
    --light-blue: #47B5FF;
    --light: #DFF6FF;
    --trs-light: #DFF6FF32;

    /* colors */
    --primary: var(--dark);
    --secondary: var(--blue);
    --text: var(--light);
    --bg: var(--black);

    /* other */
    --divider: 1px solid var(--trs-light);
}

html,
body,
body > div {
    height: 100%;
}

html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    all: unset;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

video::-webkit-media-controls {
    display:none !important;
}